$color-green: chartreuse;
$color-red: crimson;
$color-blue: blue;
$color-yelow: yellow;
$color-white: #ffffff;
$color-black: #000000;
$color-accent: #34547A;
$text-secondary: #727272;
$text-primary: #000000;
$text-accent: #ffffff;
$button-border: 1px solid transparent;
$bg-accent: #EEEFF1;