.body {
  font-family: "Roboto", sans-serif;
  line-height: 1.64;
}
.container {
  padding: 0 calc(50vw - 555px);
}
.header {
  padding-top: 79px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: $bg-accent;
  z-index: 999;
  &__nav-toggler,
  #nav-toggler {
    display: none;
  }
  &__list {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
  }
  &__link {
    text-decoration: none;
    color:$color-black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  &__link.header__link--active {
    color: $color-accent;
    font-weight: 500;

    &:hover,
    &:focus {
      opacity: .8;
    }
    &:active {
      opacity: .3;
    }
  }
}
.offer {
  background: $bg-accent;
  padding-bottom: 141px;
  padding-top: 257px;
  &__title {
    font-weight: 500;
    font-size: 48px;
    margin: 0 0 60px;
  }
  &__description {
    color: $text-secondary;
    max-width: 540px;
    margin: 0 0 60px;
  }
}
.button {
  background: $color-accent;
  color: $text-accent;
  border: $button-border;
  padding: 18px 41px;
  display: inline-flex;
  justify-content: center;
  line-height: 1.64;
  text-decoration: none;
  letter-spacing: 0.1em;
  min-width: 225px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: .8;
    &:active {
      opacity: .3;
    }
  }
}
.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

  &__accent {
    background:$bg-accent;
  }
  &__title {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 50px;
  }
  &__description {
    color:$text-secondary;
    margin: 0;
    max-width: 540px;
    text-align: center;

    &:not(last-child) {
      margin-bottom: 50px;
    }
  }
  &__video {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}
.footer__container {
  background:$color-accent;
  width: 1920px;
  height: 250px;
  max-width: 100%;
  color:$text-accent;
  &__nav {
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }
  &__list {
    display: flex;
    position: relative;
    margin-left: calc(15vw - 40px);
    padding-top: 85px;
  }
  &__item {
    width: 144px;
    height: 61px;
    padding-right: 50px;
    display: flex;
    gap: 5px 10px;
  }
  &__text {
    color:$text-accent;
    display: grid;
    grid-template-columns:50px auto;
    grid-template-rows: auto auto;
    text-decoration: none;
    line-height: 1.64;
    letter-spacing: 0.1em;
  }
  &__title {
    grid-row: span 2;
    color:$text-accent;
    line-height: 1.64;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding-top: 40px;
    margin-left: -50px;
  }
}
.article {
  background: $color-accent;
  max-width: 100%;
  height: 151px;

  &__title {
    color: $text-accent;
    width: 219px;
    height: 19px;
    padding-top: 20px;
    margin: 0 10px;
  }

  &__class {
    color: $text-accent;
    width: 193px;
    height: 12px;
    padding: min(10px, 10px);
  }
}